{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react", // 需要先安装这个依赖
      {
        "runtime": "automatic" // 关键配置：启用自动转换
      }
    ]
  ]
}